@model Socialley.Web.ViewModels.Tags.TagPostsViewModel[]

<div id="gallery">
    <div class="row">
        @foreach (var post in this.Model)
        {
            <div class="post-galley col-sm-4 mt-4 col-lg-4 col-md-12 thumb">
                <div class="card text-white">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                       data-image="@post.ImageUrl"
                       data-target="#image-gallery">
                        <img src="@post.ImageUrl" style="height:320px; object-fit:cover;" class="card-img rounded opacity img-fluid z-depth-1" id="myImg">
                        <div class="row flex-column">
                            <div class="col card-img-overlay">
                                <i class="fa fa-heart like image-likes"></i>
                            </div>
                            <div class="col card-img-overlay likes">
                                @post.PostLikes
                            </div>
                        </div>
                    </a>
                </div>
                <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="image-gallery-title"></h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="image-gallery-image" class="img-responsive col-md-12" src="@post.ImageUrl">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                                    <i class="fa fa-arrow-left"></i>
                                </button>

                                <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
    </div>
</div>