@model Socialley.Web.ViewModels.Posts.PostCreateInputModel
@{ this.ViewData["Title"] = "New forum post"; }
<h1 class="text-center">@this.ViewData["Title"]</h1>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media emoticons"
        ],
        height: 500
    });
</script>
<style>

    .tag-container {
        border: 2px solid #ccc;
        border-radius: 3px;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 6px;
        overflow-x: scroll;
    }

        .tag-container .tag {
            height: 30px;
            margin: 5px;
            padding: 5px 6px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #eee;
            display: flex;
            align-items: center;
            color: #333;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
            cursor: default;
        }

    .tag i {
        font-size: 16px;
        color: #666;
        margin-left: 5px;
    }

    .tag-container input {
        padding: 5px;
        font-size: 16px;
        border: 0;
        outline: none;
        font-family: 'Rubik';
        color: #333;
        flex: 1;
    }
</style>

<form method="post" asp-action="Create"
      enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label asp-for="Images"></label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div class="col-sm-6 form-group container">
            Press "CTRL+Enter" after you typed.
            <div class="tag-container">
                <input />
            </div>

        </div>
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>

<script>
   
</script>