@model Socialley.Web.ViewModels.Posts.EditPostViewModel
@{ this.ViewData["Title"] = "New forum post"; }
<h1 class="text-center">@this.ViewData["Title"]</h1>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media emoticons"
        ],
        height: 500
    });
</script>
<style>

    .tag-container {
        border: 2px solid #ccc;
        border-radius: 3px;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 6px;
        overflow-x: scroll;
    }

        .tag-container .tag {
            height: 30px;
            margin: 5px;
            padding: 5px 6px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #eee;
            display: flex;
            align-items: center;
            color: #333;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
            cursor: default;
        }

    .tag i {
        font-size: 16px;
        color: #666;
        margin-left: 5px;
    }

    .tag-container input {
        padding: 5px;
        font-size: 16px;
        border: 0;
        outline: none;
        font-family: 'Rubik';
        color: #333;
        flex: 1;
    }

    .tags-area {
        display: none;
    }
</style>


<form method="post" asp-action="Edit" asp-route-id="@this.Model.PostId"
      enctype="multipart/form-data">
    <div class="col-sm-6 form-group container">
        Press "CTRL+Enter" after you typed.
        <div class="tag-container">
            <input />
        </div>
    </div>
    <div class="col-sm-12orm-group">
        <input asp-for="Tags" class="form-control tags-area" />
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
<script src="~/js/add-tags.js"></script>
