@page
@model Socialley.Web.ViewModels.Users.DescriptionInputModel

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media emoticons"
        ],
        height: 500
    });
</script>

<form asp-area="" asp-controller="Users" asp-action="AddDescription">
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>