@media all and (max-width:1000px) {
    div.cardbox-heading > div.media.m-0 > div.media-body {
        width: 95%;
    }
    div.media.m-0 > div.media-body > p > a{
        width: 100%;
        word-break:break-all;
    }
    .col-lg-6 offset-lg-3 {
        width: 100%;
    }
    div > div > div.cardbox-base > strong > a {
        width: 100%;
        word-break: break-word;
    }

    body > header > nav > div > div > ul.navbar-nav.flex-grow-1 > li.nav-item.pl-4.mt-1 > div > form > #tags{
        width:100%;
    }
    body > div.container > main > section > div > div > div {
        width: 100%;
    }
    #toTopBtn{
        width:53px;
        height:56px;
    }

    body > div.container {
        width: 100%;
        padding:0px;
        padding:0px;
    }
}
